@import "tailwindcss";

@theme {
  --color-background: #F8FAFC;
  --color-primary: #3B82F6;
  --color-secondary: #64748B;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-success: #10B981;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-slate-800 font-sans antialiased;
  }
}
